.header {
    min-width: 900px;
    min-height: 80px;
    color: #d1a8f4;
}

.hr {
    top: 0;
    z-index: 5000;
    border: none; /* Убираем границу */
    height: 4px; /* Толщина линии */
}

.header_absolute {
    position: absolute;
    min-width: 100%;
}

.header_main {
    transition: background-color 200ms ease-out;
    width: 100%;
    height: fit-content;
    background-color: rgba(87, 19, 127, 0.87);
}

.header_inner {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-width: 900px;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    padding-left: -25px;
    padding-right: 55px;
    display: table;
    width: 100%;
}

.header_item {
    vertical-align: middle;
    display: table-cell;
    color: #fff;
}

.header-menu {
    height: 64px;
    position: relative;
    overflow: hidden;
    max-width: 550px;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: wrap;
}

.header-menu_item {
    display: inline-flex;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    margin-right: 19px;
    align-items: center;
}

.header-menu_item_text {
    font-size: 14px;
    color: whitesmoke;
}

.header-menu_item h2 {
    transition: color 200ms ease-out;
    font-size: 14px;
    line-height: 64px;
    font-weight: 500;
}

.header-right-menu {
    display: table-cell;
    align-items: center;
    margin-top: 10px;
    padding-left: 60px;
}

.header-right_menu_item {
    margin-right: 15px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    text-align: center;
    font-size: 0;
}

.header-right-menu .avatar {
    margin-top: -15px;
    background-color: transparent;
}

.avatar {
    z-index: 1;
    position: relative;
    overflow: hidden;
    border-radius: 65%;
}

.avatar_small {
    width: 58px;
    height: 58px;
}

.avatar_medium {
    width: 96px;
    height: 96px;
}

.header_logo {
    width: fit-content;
}

.logo {
    margin-right: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.logo_img {
    width: 100px;
}

.lang_bar-item {
    margin-left: -45px;
    margin-top: 6px;
    display: inline-flex;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    align-items: center;
    cursor: default;
}

.lang_img {
    width: 30px;
    background-color: transparent;
}

.auth_error {
    color: #f75c48;
}

.auth_field {
    text-align: center;
}

.auth_field + .auth_field {
    margin-top: 12px;
}

.app {
    background-color: #300640;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app_inner {
    flex: 1;
    margin-top: 10px;
    min-width: 900px;
    position: relative;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.app_inner:after {
    content: "";
    display: table;
    clear: both;
}

.main {
    width: 95%;
    float: left;
}

.button_success {
    background-color: #C8C438;
    color: #fff;
    width: max-content;
    height: fit-content;
}

.button_success:hover{
    color: #fff;
    background-color: #918d2f;
}

.button_head {
    background-color: transparent;
    color: #fff;
    width: max-content;
    height: fit-content;
}

.button_head:hover{
    color: #fff;
    background-color: #300640;
}

.button_user_type1 {
    background-color: #c87324;
    color: #fff;
    width: max-content;
    height: fit-content;
    padding: 4px 10px;
}

.button_user_type1:hover{
    color: #fff;
    background-color: #964b22;
}

.button_transparent {
    background-color: transparent;
    font-family: Calibri;
    font-size: 18px;
}

.button_fit_content {
    width: fit-content;
    height: fit-content;
}

.button_width_30 {
    width: 30px;
    text-align: center;
}

.news {
    position: relative;
    margin-top: 15px;
}

.news_main {
    border-radius: 10px;
    overflow: hidden;
    min-height: 75px;
    width: 100%;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    text-align: left;
}

.news_title {
    overflow: hidden;
    max-width: 100%;
    font-weight: 400;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_typography {
    text-align: left;
    padding-left: 40px;
    max-width: 95%;
}

.news-block_text {
    padding: 0 25px -5px;
}

.news-block_img {
    line-height: 0;
}

.news_header {
    padding: 22px 25px 0px 25px;
}

.tab_content {
    padding: 20px 30px 20px 45px;
}

.tab_content-item {
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 10px;
    padding-bottom: 0.5%;
    background-color: #e4dce6;
    position: relative;
    align-items: center;
}

.tab_title {
    margin-left: -25px;
    margin-top: -7px;
    margin-bottom: -25px;
    overflow: hidden;
    max-width: 100%;
    font-weight: bold;
    font-size: 22px;
    font-style: oblique;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event_title {
    margin-left: 25px;
    margin-top: -7px;
    margin-bottom: -20px;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
    font-size: 22px;
    font-style: oblique;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab_typography {
    text-align: left;
    font-size: 18px;
}

.tab-block_text {
    margin-bottom: -12px;
}

.poster_url {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.poster_url-small {
    max-width: 220px;
    max-height: 320px;
}

.poster_url-medium {
    max-width: 240px;
    max-height: 340px;
}

.poster_url-big {
    max-width: 400px;
    max-height: 600px;
}

.form_container{
    vertical-align: center;
    horiz-align: center;
    align-content: center;
}

.login_card{
    border-radius: 5px;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: whitesmoke;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: #0a3839;
}

.social_icon{
    position: center;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.login_btn{
    color: black;
    height: fit-content;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: #c87324;
}

.links{
    color: #0a3839;
}

.links a{
    margin-left: 4px;
}

.error-block h2{
    color: #0a3839;
}
